.navbar {
    width: 100%;
    background-color: skyblue;
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

.homeButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.homeImage {
    width: 30px; /* Size of the image */
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}