.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileSection {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
}

.userName {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
}

.userInfo {
    display: flex;
    justify-content: space-between;
}

.orders, .reviews {
    width: 45%;
}

.orders ul, .reviews ul {
    list-style-type: none;
    padding: 0;
}

.orders li, .reviews li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
